doctype html
html
  head
    meta(charset='utf-8')
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='shortcut icon', href='http://nqm3.nickallott.com/files/2015/06/favicon.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='http://d3js.org/d3.v3.js')
    script(src='javascripts/leaflet.js')
    script(src='javascripts/nqmJourneyGPS.js')
    script(src='javascripts/jquery.event.drag-2.2.js')
    script(src='javascripts/slick.core.js')
    script(src='javascripts/slick.grid.js')
    script(src='javascripts/slick.cellrangedecorator.js')
    script(src='javascripts/slick.cellrangeselector.js')
    script(src='javascripts/slick.cellselectionmodel.js')
    script(src='javascripts/settingAPI.js')
    script(src='javascripts/gpsConf.js')
    link(rel='stylesheet', href='stylesheets/slick.grid.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/mygrid.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
  body
    block content
